.footer-menu{
    width:100%;
    height:6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.9375rem 3em;
    background-color:$raising-black;
    

&__links{
    list-style: none;
    font-family: $raleway;
    font-size: $medium;
    @media (max-width: 768px) {
    margin-bottom:1.25rem;
    }
    }


&__links__item{
    color: $gray;
    padding: 0rem 0.625rem;  
    margin-right:0.625rem;
    font-family: $raleway;
    font-size: $medium;
    font-weight: $regular;
    text-decoration: none;
    @media (max-width: 768px) {
        font-size:$small;
        }
    }

&__links__item:hover{
    color: $dark-salmon;
    }

&__text{
    color: $gray;
    padding: 0rem 0.625rem;  
    font-family: $raleway;
    font-size: $regular;
    font-weight: $mediumbold;
    @media (max-width: 768px) {
        font-size:$small;
        }
    }

}

@media (max-width: 768px) {
    .footer-menu{
    height:9.375rem;
    flex-wrap: wrap;
    justify-content: center;
    }   
}
