.main{
    min-height: 50vh;
    width: 100%; 
    padding:15px 3em;
    }
    
.main-contenido{
    width:100%;

&__titulo{
    font-family: $raleway;
    font-size:$xx-large;
    font-weight:$bold;
    color:$raising-black;
    text-align: center;
    align-self: center;
    margin-bottom:0.625rem;
    }

&__info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    padding-top:1.875rem;
    @media (max-width: 768px) {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
            }
    }

&__info__grafico{
    float:left;
    }

&__info__grafico--img{
    width:25rem;
    padding: 1.5625rem;
    margin:1.5625rem;
    float:left;
    animation: blur 4s ease-in;
    }

&__info__textos{
    width:31.25rem;
    padding: 1.5625rem;
    overflow: hidden;
    @media (max-width: 768px) {
        width:25rem;
        padding: 1.5625rem;
        }
    }

&__info__textos--sub{
    font-family:$raleway;
    font-size: $x-large;
    color:$raising-black;
    @media (max-width: 768px) {
    font-size: $large-medium;
        }
    }

&__info__textos--p{
    font-family: $open-sans;
    font-size: $medium;
    color:$raising-black;
    line-height: 1.75rem;
    margin-top:1.25rem;
    }
}
