.precios{
    background: url('../img/bg-price.svg');
    min-height: 135vh;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    padding:30px 3em;  
    @media (max-width: 768px) {
    background-size: cover;
    background-position: center center;
    }
}

.precios-contenido{
    width:100%;
   
&__titulo{
    font-family: $raleway;
    font-size:$xx-large;
    font-weight:$bold;
    color:$white;
    text-align: center;
    align-self: center;
    margin-top:12.5rem;
    margin-bottom:2.1875rem;
    }

&__cards{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    @media (max-width: 768px) {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    }
}

